<?php

// @codingStandardsIgnoreFile
/**
 * @var \SupplyChimp\Recruitment\Block\Block $block
 */
$list = $block->getPostsAction();
$config = $block->getConfigAction();

echo '
<div id="blog">
    <h2 style="text-align: center;">', $config->title, '</h2>';

if (empty($list)) {
    echo '
';
} else {

    foreach ($list as $post) {
        echo '
    <div class="post-item" style="border: 1px solid #aaa; border-radius: 5px; margin: 10px; padding: 10px;">
        <div class="header">
            <div class="title" style="width: 40%; float: left;">', $post->title, '</div>
            <div class="date" style="width: 40%; float: right;">', date('Y-m-d H:i', $post->date), '</div>
            <div style="clear:both;"></div>
        </div>
        <div class="content">', $post->content, '</div>
    </div>';

    }

}

echo '
</div>';

