<?php

$config = $block->getConfigAction();
$moduleConfig = $block->getModuleConfigAction();

?>
<form action="<?= $block->escapeUrl($block->getFormConfigPostAction()) ?>" method="post">
    <label>
        <h4>Blog title:</h4>
        <input type="text" name="formData[title]" value="<?= $config->title ?>" />
    </label>
    <br />
    <br />
    <label>
        <h4>Number of pagination post per page:</h4>
        <select name="formData[title]">
        <?php

        foreach ($moduleConfig->paginationsList as $item) {
            echo '
            <option value="' , $item, '"', ($config->pagination == $item ? ' selected' : ''), '>', $item, '</option>';
        }

        ?>
        </select>
    </label>
    <br />
    <br />
    <input type="submit" name="formData[submit]" value="Save" />
</form>
